 :root {
    --surface_top: 0px;
    --humus_top: 0px;
    --topsoil_top: 0px;
    --subsoil_top: 0px;
    --weatheredRock_top: -1px;
    --bedrock_top: 0px;
    --main_left: 0px;
  }

  .svg_cont {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
    width: fit-content;
  }

  #surface_svg,
  #humus_svg,
  #topsoil_svg,
  #subsoil_svg,
  #weatheredRockFragments_svg,
  #bedrock_svg {
      position: relative;
      display: block; /* Important for SVGs */
      background-color: none !important; /* Make the background transparent */
  }

  /* Example styling for SVGs */
  #surface_svg {
    overflow: visible;
      top: 0px;
      left: var(--main_left) !important;;/*calc(var(--main_left)/2)*/
  }

  #humus_svg {
    overflow: visible;
      top: var(--surface_top);
      left: var(--main_left) !important;
  }

  #topsoil_svg {
    overflow: visible;
      top:  calc(var(--surface_top) + var(--humus_top));
      left: var(--main_left) !important;
  }

  #subsoil_svg {
    overflow: visible;
      top:  calc(var(--surface_top) + var(--humus_top) + var(--topsoil_top));
      left: var(--main_left) !important;
  }

  #weatheredRockFragments_svg {
    overflow: visible;
      top: calc(var(--surface_top) + var(--humus_top) + var(--topsoil_top) + var(--subsoil_top));
      left: var(--main_left) !important;
  }
  #bedrock_svg {
    overflow: visible;
      top: var(--weatheredRock_top);/*calc(var(--surface_top) + var(--humus_top) + var(--topsoil_top) + var(--subsoil_top) + var(--weatheredRock_top));*/
      left: var(--main_left) !important;
  }



/* --------------------------------- tabsSoil --------------------------------- */
.tabloidSoil{font-size:1.8vmin;}
/* Style the tab */
.tabSoil {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 0px 0px;
  width:100%
}

/* Style the buttons inside the tab */
.tabSoil button {
  background-color: inherit;
  color: black;
  float: left;
  border: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  transition: 0.3s;
  /* //font-size: 2vw;//font-size: 16px; */
}

/* Change background color of buttons on hover */
.tabSoil button:hover {
  background-color: #63daeb;
  color: white;
}

/* Create an active/current tablink class */
.tabSoil button.active {
  background-color: #17a2b8;
  border: none;/* 1px solid #17a2b8;*/
  color: white;
}

/* Style the tab content */
.tabcontentSoil {
  display: none;
  flex-flow: row;
  place-content: stretch center;
  align-items: flex-start;
  /* width: min-content; */
width: 100%;
  padding: 12px 12px;
  border: 1px solid #17a2b8;
  /* //border-top: none;
  //overflow: auto;
  //max-height: 70vh;
  //overflow: scroll; */
  overflow-x:hidden;
  /* min-height:800px; */
  height:96%;
/* box-sizing: border-box; */
    box-sizing: inherit;
/* width: 100%;
border: solid #5B6DCD 10px;padding: 5px;  */
overflow-y: scroll;

}

/* --------------------------------- /tabsSoil --------------------------------- */