.to_sep{
    border: 1px solid #dee2e6!important;
    border-right-style: none;
    border-left-style: none;
    background-color: #eeeeee;
    display: inline-block;
    padding: 5px;
    position: relative;
    text-align: center;
}

.IconPos_and_size {
    position: relative;
    left: -0.25em;
    bottom: -0.6em;
    font-size: 2.5em;
}

/*
  .btn{
    border: 2px solid #1a1a1a;
    display: inline-block;
    padding: 1px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 40px;
        &:hover{
            background: none;
            color: #1a1a1a;
        }
        &:after{
            background: #17a2b8;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 96%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -1px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after{
            left: 0;
        }
    }
}*/
.tableCap {
    caption-side: top !important;
}
/* -------------------------- soil struct table -------------------------- */
.table_component {
    /* overflow: auto; */
    width: min-content;
}

.table_component table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
/* -------------------------- /soil struct table -------------------------- */
/*----------------------- table fieldwork -----------------------*/
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  }
.tg td{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;}
.tg th{
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
  }
.tg .tg-cly1{
  text-align:left;
  vertical-align:middle;
  horizontal-align:middle;
  }
td, th {
    padding: 20px;
}
/*----------------------- /table fieldwork -----------------------*/